:root {


 --bgColor: #0F0F0F;
 /* --bgColorEerieBlack: #191716;  To be determined. */
 --textColor: #FAFAFF;
 --btnColorBase: #273469;
 /* --btnColorBase: #0A122A; Oxford Blue TBD */
 --btnColorHover: #1E2749;


}

* {
    margin: 0;
    padding: 0;
}

/* 
Header Styling
  */


/* 
Footer Styling
  */

/* 
Home Page Styling
  */

/* 
Shop Page Styling
  */

/* 
About Page Styling
  */

/* 
Contact Us Page Styling
 */

/* 
Login Page Styling
 */

/* 
Register Page Styling
  */