:root {

/* -------------- Branding Colors -------------- */
--textColor: #E1E8ED;
--focusColorDark: #a8741ae1 ;
--focusColorLight: #A8741A ;
--bgColorLight: #292929 ;
--bgColorDark: #242424 ;
--btnBgColor:#212121;
--btnColorHover: #E1E8ED;
--btnTextHover: black;
--boxShadow: rgba(207, 207, 205, 0.242);
--formInside: rgb(189, 189, 189);
/* -------------- Box Sizing Variables -------------- */
--padSm: 1rem;
--padMd: 3rem;
--padLr: 5rem;

--marSm: 1rem;
--marMd: 3rem;
--marLr: 5rem;

/* -------------- Font Variables -------------- */

--fontXsm: 0.1rem ;
--fontSm: 0.5rem ;
--fontMd: 1rem;
--fontLr: 2rem;
--fontExLr: 5rem;

--fancyFont: "Pirata One", serif;
--strictFont: "Quintessential", serif;

.pirata-one-regular {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}


.quintessential-regular {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}


}

body {
  background-color: var(--bgColorLight);
}

p, h1, h2, h3, h4 {
  color: var(--textColor);
}

a {
  color: var(--btnColorHover);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


/* 
-------------- Header Styling --------------
  */

.header {
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 width: 100%;
 height: auto;
 border-bottom: 0.1rem solid var(--boxShadow);
 box-shadow: 0 0 0.5rem var(--boxShadow); 
 position: sticky;
 top: 0;
 z-index: 11;
}

.header > nav {
  display: flex;
  width: 100%;
  height: auto;
}

.headerItems {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 5rem;
  gap: 8rem;
  background-color: var(--bgColorDark);
}

.headerItems > a {
  color: var(--textColor);
  padding: 1rem;
  background-color: var(--btnBgColor);
  border-radius: 1rem;
  transition: background-color 0.3s ease;
}

.headerItems > a:hover {
  background-color: var(--btnColorHover);
  color: var(--btnBgColor);
}

/* -------------- Header Styling > HamBurger Menu -------------- */

.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--bgColorDark);
  overflow-x: hidden;
  padding-top: 5rem;
  transition: 0.3s ease;
  opacity: 0.9;
  
}

.sideNav > a { 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 1rem;
  font-size: var(--fontLr);
  color: var(--textColor);
  display: block;
  transition: 0.3s ease;
  margin-left: var(--marSm);
}

.sideNav a:hover {
  color: var(--focusColorDark);
}

.sideNav .closeButton {
  position: absolute;
  top: 0;
  right: var(--padSm);
  font-size: var(--fontLr);
  margin-left: var(--marMd);
}

.openSideNav {
  color: var(--textColor);
  font-size: var(--fontExLr);
  background-color: var(--bgColorDark);
  padding-left: 1rem;
  padding-right: 1rem;
  height: 5rem;
  margin: 0;
  border-right: 0.1rem solid var(--boxShadow);
}

/* 
-------------- Footer Styling --------------
  */
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 0.1rem solid var(--textColor);
  box-shadow: 0 0 0.5rem var(--boxShadow); 
  background-color: var(--bgColorDark);
  padding-top: 3rem;
  padding-bottom: 3rem;
  
}

.copyWrite {
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footerLinks {
  grid-column: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.3s ease;
}

.socialLinks {
  grid-column: 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.3s ease;
}

.socialLinks > a:hover, .footerLinks > a:hover {
  
  text-decoration: underline;
}

/* 
-------------- Home Page Styling --------------
  */

    /* -------------- Home Hero Slideshow -------------- */

    #heroCarousel {
      max-width: 100%;
      position: relative;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
      background-color: var(--bgColorDark);
    }

    .heroSlides {
        display: none;
        width: 100%;
        height: 80.3821vh;
        
      }

    .previous, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        height: 2rem;
        width: 2rem;
        margin-top: -22px;
        padding: 16px;
        margin-left: var(--marMd);
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        user-select: none;
    }

    .previous {
      border-radius: 5rem;
      margin-left: var(--marMd);
    }

    .next {
        right: 0;
        border-radius: 5rem;
        margin-right: var(--marMd);
    }

    .previous:hover, .next:hover {
        background-color: var(--focusColorLight);
    }

    .heroText {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    .slideDot {
        cursor: pointer;
        height: 0.7rem;
        width: 0.7rem;
        margin: 0 2px;
        background-color: var(--btnColorHover);
        border-radius: 50%;
        transition: background-color 0.6s ease;
        display: inline-block;
    }

    .active, .slideDot:hover {
        background-color: var(--focusColorDark);
    }

    .heroImages {
        width: 100%;
        height: 80vh;
        
    }

    .heroDots {
      text-align: center;
      position: absolute;
        top: 50rem;
        left: 50%;
        z-index: 10;
        gap: 1rem;
      
    }

    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    /* -------------- Home Shop Section -------------- */

    #homeShopContainer {
      width: 100%;
      height: auto;
      padding-top: var(--padMd);
      display: grid;
      background-color: var(--bgColorDark);
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 5rem);
    }

    .headingContainer {
      grid-column: 1 / -1;
      grid-row: 1;
      height: 10rem;
      width: 100%;

      border-bottom: 0.1rem solid var(--bgColorLight);
     
    }

    .homeShopHeading {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 2rem;
      font-family: var(--strictFont);
      letter-spacing: 1rem;
      font-size: 1.5rem;
    }

    .homeShopSubHeading {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 1rem;
      font-family: var(--fancyFont);
      letter-spacing: 0.1rem;
      font-size: var(--fontMd);
    }

    .homeShopHeading > h2 {
      color: var(--focusColorDark);
      font: italic;
      

    }

    .homeShopSubHeading > h3 {
      color: var(--focusColorLight);
      font: bold italic;
      
    }

    /* -------------- Product Card Styling --------------  */

    .homeShop {
      background-color: var(--bgColorDark);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 3rem;
      padding: 0rem 10rem 1rem 10rem;
    }

    .shopItems {
      background-color: var(--bgColorLight);
      border: 1px solid var(--boxShadow);
      /* border-radius: 1rem; */
      box-shadow: 0 0 0.2rem var(--focusColorDark);
      padding: 1.5rem 0 var(--padSm) 0;

      max-width: 25rem;
      height: auto;
      

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      
    }

    .productImage {
      grid-column: 1 / 4;
      grid-row: 1 /1;
      width: 15rem;
      height: 10rem;
      padding-bottom: var(--padSm);
    }

    .itemName {
      
    }

    .itemPrice {
      
    }

    .productButtonGroup {
      display: flex;
      flex-direction: row;
      gap: var(--marSm);
    }


    /* -------------- Home About Us Styling -------------- */

    #aboutUs {
      max-width: 100%;
      height: auto;
      display: grid;
      padding-top: var(--padSm);
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1 1fr;

    }

    #aboutUs > img {
      max-height: 60rem;
      max-width: 60rem;
      border-radius: 5rem;
      grid-column: 2 / 2;
      grid-row: 1;
    }

    #aboutUs > h3 {
      font-family: var(--strictFont);
      font-size: var(--fontLr);
      padding-top: 5rem;
      letter-spacing: 1rem;
      grid-column: 1 / 1;
      grid-row: 1;

      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    #aboutUs > p {
      padding: var(--padSm);
      grid-column: 1 /1 ;
      grid-row: 1;

      font-family: var(--strictFont);
      letter-spacing: 0.2rem;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    





/* 
-------------- Shop Page Styling --------------
  */

/* 
-------------- About Page Styling --------------
  */

/* 
-------------- Contact Page Styling --------------
 */



/* 
-------------- Login/Register Page Styling --------------
 */
 form {
  height: 85vh;
  background-color: var(--bgColorDark);
  width: 100%;
  border-radius: 1rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
 }

 input[type=text], input[type=password] {
  width: 50%;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0;
  margin-top: 1.2rem;
  display: inline-block;
  border: 0.3rem solid var(--textColor);
  box-sizing: border-box;
  align-content: center;
  border-radius: 1rem;
  
 }

 button {
  color: var(--btnColorHover);
  background-color: var(--btnBgColor);
  padding: 1rem;
  margin: 0.5rem 0;
  margin-top: 1.2rem;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 1rem;
  transition: 0.3s ease;

 }

 button:hover {
  color: var(--btnBgColor);
  background-color: var(--btnColorHover);
 }

#registrationForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5rem;
  background-color: var(--bgColor);
  color: var(--textColor);
  margin-top: 0.5rem;
  width: 25%;
  border: 0.1rem solid var(--textColor);
  padding-top: 1rem;
  padding-bottom:1rem;
  box-shadow: 0 0 15px var(--boxShadow);
}

#signInRedirect > p > a {
  color: var(--focusColorDark);
  transition: 0.3s ease;
}

#signInRedirect > p > a:hover {
  color: var(--focusColorLight);
  text-decoration: underline;
}
